# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment Variables
/server/.env

# Build/Distribution folders
/client/dist
/client/build

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db